# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / Carthage (if added later)
Pods/
Carthage/Build/

# OS / editor
.DS_Store
*.swp
*~
.idea/
